# Rename this file to .env and fill in your actual API keys.
# Do NOT commit your .env file to version control!

# configs/game.yaml will determine which of these API keys are needed, you can omit anything you don't have/need.
OPENAI_API_KEY="your_openai_api_key_here"
GOOGLE_API_KEY="your_google_api_key_here"
ANTHROPIC_API_KEY="your_anthropic_api_key_here"

# LangSmith for tracing and observability (optional)
# Set LANGCHAIN_TRACING_V2 to "true" to enable tracing.
LANGCHAIN_TRACING_V2="false"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="your_langsmith_api_key_here"
LANGCHAIN_PROJECT="AI Game Master" # Customize your project name in LangSmith
